@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Audiowide', cursive;
}


.main{
    height: 100vh;
}
body{
    background: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;  
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.box, .prompt_box{
    border-radius: 10px;
    width: 500px;
    height: 400px;
    background:url("card.jpg");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    flex-direction: column;

    color: aqua;
}

.box h1{
    margin: 8px;
    font-family: 'Roboto', sans-serif;
}
form{
    flex-direction: column;
}
form input{
    padding: 8px;
    margin-bottom: 8px;
    width: 350px;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid #00000073;
}
.btn{
    width: 150px;
    height: 35px;
    font-size: 1.1rem;
    outline: none;
    border: none;
    cursor: pointer;
    background: #4318b8;
    color: #fff;
}
.prompt_box{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Open Sans', sans-serif;
}
.prompt_box h1{
    margin-bottom: 10px;
}
.prompt_box.active{
    display: flex;
}